
<table class="table">
  <thead class="thead-default">
  <tr>
    <th>User Name</th>
    <th>Restaurant Name</th>
    <th>Dish</th>
        <th>Price</th>
    <th>Order Status</th>




  </tr>
  </thead>
  <tbody>

    <%= simple_form_for(@order, remote: true) do |f| %>

    <%= div_for orders.each do |order| %>
        <tr>
          <td><%= order.user.name %></td>
          <td><%= order.restaurant_name %></td>
          <td><%= order.dish_name %></td>
          <td><%= order.price %></td>
          <td><%= order.order_status%></td>


        </tr>
    <% end %>

    <% end %>


  </tbody>
</table>
