
<table class="table">
  <thead class="thead-default">
  <tr>
    <th>User Name</th>
    <th>Restaurant Name</th>
    <th>Dish</th>
    <th>Order Status</th>
    <th>Price</th>
    <th>Delete Order</th>

  </tr>
  </thead>
  <tbody>
  <%= div_for orders.each do |order| %>
      <tr>
        <td><%= order.user.name %></td>
        <td><%= order.restaurant_name %></td>
        <td><%= order.dish_name %></td>
      <td>  <select class="form-control">
 <option value="ordered"><%= order.order_status %></option>
 <option value="finalized">Finalized</option>

</select> </td>

        <td><%= order.price %></td>
        <td><%= link_to "Delete Order", order, remote: true, method: :delete  %>
  <i class="glyphicon glyphicon-trash"></i></td>

        <!-- <%= simple_form_for(@order, remote: true) do |f| %>
        <td>  <%= f.input :order_status, collection: %w(Order Finalized Delivered) %><td>
            <%= f.button :submit, class: "btn btn-primary"  %>
          <% end %> -->
      </tr>
  <% end %>
  </tbody>
</table>
