<table class="table">
  <thead class="thead-default">
  <tr>
    <th>User Name</th>
    <th>Restaurant Name</th>
    <th>Dish</th>
    <th>Price</th>
    <th>Order Status</th>
    <th>Finalize Order</th>
    <th>Delete Order</th>
  </tr>
  </thead>
  <tbody>
    <%= simple_form_for(@order, remote: true) do |f| %>
      <%= div_for orders.each do |order| %>
        <tr>
          <td><%= order.user.name %></td>
          <td><%= order.restaurant_name %></td>
          <td><%= order.dish_name %></td>
          <td><%= order.price %></td>
          <td><%= order.order_status%></td>
          <td><button type="button" class="btn btn-default" disabled="disabled"><span class="glyphicon glyphicon-ok"></span></button>

            <% if @current_user.nil? %>
              <%= link_to "Finalize order", alert: {confirm: "Please sign in to finalize your order!"} %>
             <% else %>
              <%= link_to "Finalize order", finalize_path(order), remote: true%>
              <% end %>
            </td>
          <td><button type="button" class="btn btn-default" disabled="disabled"><span class="glyphicon glyphicon-trash"></span></button>

            <% if @current_user.nil? %>
              <%= link_to "Delete order", alert: {confirm: "Please sign in to delete your order!"} %>
             <% else %>
              <%= link_to " Delete Order", order, remote: true, method: :delete  %>
              <% end %>
            </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
