
<ol class="list-group">
    <% @orders.each do |order| %>
      <li class="list-group-item clearfix" >
        <h3 class="pull-right">
        <md class="text-uppercase"><%= order.user.name %></md><br>
        <small class="text-uppercase">  Created: <%= l order.created_at.to_date %> </small><br>
        <small class="text_uppercase"> Finalized </small>


        </h3>
        <h4 class="pull-middle">
          Restaurnant name: <%= order.restaurant_name %><br>
          Dish name: <%= order.dish_name %><br>
          Price: <%= order.price %>
     </h4>
      </li>
    <% end %>
  </ol>
