<!DOCTYPE html>
<html>
  <head>
    <title>HungryAngryJoe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "hungry angry joe", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <li><div>
          <% if current_user %>
          <div class="signin">  Signed in as <strong><%= current_user.name %></strong>!</div>
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
          <% else %>
            <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
          <% end %>
</div></li>

      </ul>
    </nav>
  </div>
</header>

    <%= yield %>
  </body>
</html>
